body{
    background-color: #1b36c2;
}

#title{
}

span#motionsensor {
    background-color: #C20300;
    border: 1px solid black;
    width: 400px;
    height: 100px;
}

#circle {
    width: 15px;
    height: 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: red;
}

span#logging {
    font-size: 10px;
}